*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: chartreuse;
}


p{
    background-color: red;
    text-align: center;
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%; 
 }

 nav{
     background-color: orange;
     text-align: center;
     padding: 2%;
 }


 .giallu-bellu{
    background-color: yellow;

 }